<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Users CR</title>
</head>
<body>
    <main class="container">
        <div class="row">
            <div class="col">
                <p class="h1">All Users</p>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in all_friends %}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.first_name}}</td>
                        <td>{{item.last_name}}</td>
                        <td>{{item.email}}</td>
                        <td><p><a href="/read/{{item.id}}">Show</a> | <a href="/edit/{{item.id}}">Edit</a> | <a href="/delete/{{item.id}}">Delete</a></p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <a href="/create" method="GET"><button class="btn btn-primary">Add An Entry</button></a>
            </div>
        </div>
        <div class="row"></div>
    </main>
</body>
</html>