<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>The Wall</title>
</head>
<body>
    <h1>CodingDojo Wall</h1>
    <h3>Welcome, {{one_user.first_name}}</h3>
    <div>
        
        <h5>You have {{x}} messages</h5>
    </div>
    {% for one_message in one_user.inbox %}
        <p>{{one_message.sender.first_name}} said 5 minutes ago:</p>
        <p>{{one_message.content}}</p>
        <form action="/delete" method="POST">
            <input type="image" src="../static/images/trash.PNG" style="height:50px;width:50px">
        </form>
    {% endfor %}
    <!-- <table>
        <tr>
            <p>Luke said 5 minutes ago:</p>
        </tr>
        <tr>
            <p>Hello!</p>
        </tr>
    </table> -->
    <div>
        <h5>Send Messages:</h5>
    </div>
    <table>
        {% for one_user in all_users %}
        <tr>
            <form action="/send_message" method="POST">
                <input type="hidden" name="receiver_id" id="receiver_id" value="{{one_user.id}}"> 
                <input type="hidden" name="sender_id" id="receiver_id" value="{{session['user_id']}}"> 
                <td>
                    <p>{{one_user.first_name}}:</p>
                </td>
                <td>
                    <textarea name="content" cols="30" rows="5"></textarea>
                </td>
                <td>
                    <button type="submit">Send</button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>
    <a href="/logout"><button>Logout and Clear Session</button></a>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- <p>What's on your mind? Create a new post</p>
        {% with messages = get_flashed_messages(category_filter = ['post']) %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <form action="/make_post" method="POST">
        <input type="hidden" value="{{one_user.id}}" name="user_id">
        <div>
            <textarea rows="6" cols="200" name="content"></textarea>
        </div>
        <div>
            <button type="submit">Publish</button>
        </div>
    </form>
    <table>
        <tbody>
            {% for one_post in all_posts%}
            <tr>
                <td>
                    <p>{{one_post.creator.first_name}} {{one_post.creator.last_name}}</p>
                    <p>{{one_post.created_at}}</p>
                    <p>{{one_post.content}}</p>
                    {% if one_post.creator.id == session['user_id'] %}
                        <form action="/delete" method="POST">
                            <button type="submit" value="{{one_post.id}}" name="post_id">Delete Post</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html> -->