<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>The Wall</title>
</head>
<body>
    <h1>CodingDojo Wall</h1>
    <h3>Welcome, {{one_user.first_name}}</h3>
    <div>
        
        <h5>You have {{x}} messages</h5>
    </div>
    {% for one_message in one_user.inbox %}
        <p>{{one_message.sender.first_name}} said:</p>
        <p>{{one_message.content}}</p>
        <form action="/delete" method="POST">
            <input type="hidden" name="message_id" value="{{one_message.id}}"> 
            <input type="image" src="../static/images/trash.PNG" style="height:50px;width:50px">
        </form>
    {% endfor %}
    <div>
        <h5>Send Messages:</h5>
    </div>
    <table>
        {% for one_user in all_users %}
        <tr>
            <form action="/send_message" method="POST">
                <input type="hidden" name="receiver_id" id="receiver_id" value="{{one_user.id}}"> 
                <input type="hidden" name="sender_id" id="receiver_id" value="{{session['user_id']}}"> 
                <td>
                    <p>{{one_user.first_name}}:</p>
                </td>
                <td>
                    <textarea name="content" cols="30" rows="5"></textarea>
                </td>
                <td>
                    <button type="submit">Send</button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>
    <a href="/logout"><button>Logout and Clear Session</button></a>
</body>